body {
    background-image: linear-gradient(to right, aqua, red, orange, blue, green, violet, indigo, yellow);
}

#total_price {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 200px;
    font-family: 'Noto Serif', serif;
}